<div class="formulario-container">
    <h2>Login</h2>

    <!-- Formulário só aparece se não estiver logado -->
    <form (ngSubmit)="fazerLogin()" #form="ngForm" *ngIf="!usuarioLogado">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required class="form-control"
                placeholder="Digite seu etestemail" />
        </div>

        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control"
                placeholder="Digite sua senha" />
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>

        <div *ngIf="mensagemErro" class="text-danger mt-3">
            {{ mensagemErro }}
        </div>
    </form>

    <!-- Se logado, exibe mensagem e botão de logout -->
    <div *ngIf="usuarioLogado" class="mt-3">
        <p class="text-success">Usuário logado: {{ nomeUsuario }}</p>
        <button class="btn btn-danger" (click)="logout()">Sair</button>
    </div>
</div>