<!-- signup.component.html -->
<div class="signup-container">
    <form>
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" required />

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required
            (input)="validatePassword(password)" />

        <ul class="password-requirements">
            <li [ngClass]="{'valid': hasMinLength, 'invalid': !hasMinLength}">
                <span class="icon">{{ hasMinLength ? '✔️' : '❌' }}</span>
                Mínimo 8 caracteres
            </li>
            <li [ngClass]="{'valid': hasUpper, 'invalid': !hasUpper}">
                <span class="icon">{{ hasUpper ? '✔️' : '❌' }}</span>
                Pelo menos 1 letra maiúscula
            </li>
            <li [ngClass]="{'valid': hasLower, 'invalid': !hasLower}">
                <span class="icon">{{ hasLower ? '✔️' : '❌' }}</span>
                Pelo menos 1 letra minúscula
            </li>
            <li [ngClass]="{'valid': hasSpecial, 'invalid': !hasSpecial}">
                <span class="icon">{{ hasSpecial ? '✔️' : '❌' }}</span>
                Pelo menos 1 caractere especial
            </li>
            <li [ngClass]="{'valid': noRepeatedNumbers, 'invalid': !noRepeatedNumbers}">
                <span class="icon">{{ noRepeatedNumbers ? '✔️' : '❌' }}</span>
                Não pode repetir números
            </li>
        </ul>

        <div *ngIf="existingUser" class="error-message">
            E-mail já cadastrado!
        </div>

        <button type="submit" [disabled]="!(hasMinLength && hasUpper && hasLower && hasSpecial && noRepeatedNumbers)">
            Cadastrar
        </button>
    </form>
</div>