<!-- signup.component.html -->
<div class="signup-container">
    <form>
        <button type="button" (click)="goBack()" class="back-button"> &lt; Login</button>
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" required />

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required
            (input)="validatePassword(password)" />

        <div class="password-strength-group" *ngIf="password">
            <div class="password-strength-multibar">
                <div class="bar-segment red" [class.filled]="passwordStrengthScore > 0"></div>
                <div class="bar-segment yellow" [class.filled]="passwordStrengthScore > 1"></div>
                <div class="bar-segment green" [class.filled]="passwordStrengthScore > 2"></div>
            </div>
            <div class="password-strength-labels">
                <span class="label-weak" *ngIf="passwordStrengthScore === 0">Fraca</span>
                <span class="label-medium" *ngIf="passwordStrengthScore === 1">Média</span>
                <span class="label-almost" *ngIf="passwordStrengthScore === 2">Quase forte</span>
                <span class="label-strong" *ngIf="passwordStrengthScore === 3">Forte</span>
            </div>
        </div>
        <ul class="password-requirements">
            <li [ngClass]="{'valid': hasMinLength, 'invalid': !hasMinLength}">
                <span class="icon">{{ hasMinLength ? '✔️' : '❌' }}</span>
                Mínimo 8 caracteres
            </li>
            <li [ngClass]="{'valid': hasUpper, 'invalid': !hasUpper}">
                <span class="icon">{{ hasUpper ? '✔️' : '❌' }}</span>
                Pelo menos 1 letra maiúscula
            </li>
            <li [ngClass]="{'valid': hasLower, 'invalid': !hasLower}">
                <span class="icon">{{ hasLower ? '✔️' : '❌' }}</span>
                Pelo menos 1 letra minúscula
            </li>
            <li [ngClass]="{'valid': hasSpecial, 'invalid': !hasSpecial}">
                <span class="icon">{{ hasSpecial ? '✔️' : '❌' }}</span>
                Pelo menos 1 caractere especial
            </li>
            <li [ngClass]="{'valid': noRepeatedNumbers, 'invalid': !noRepeatedNumbers}">
                <span class="icon">{{ noRepeatedNumbers ? '✔️' : '❌' }}</span>
                Não pode repetir números
            </li>
        </ul>

        <div *ngIf="existingUser" class="error-message">
            E-mail já cadastrado!
        </div>

        <button type="submit" (click)="Signup()"
            [disabled]="!(hasMinLength && hasUpper && hasLower && hasSpecial && noRepeatedNumbers)">
            Cadastrar
        </button>
    </form>
</div>