<div class="signup-container">
    <h2>Cadastro</h2>
    <form (ngSubmit)="Signup()" #signupForm="ngForm">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required />
        </div>
        <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required
                (input)="validatePassword(password)" />
        </div>
        <div *ngIf="password">
            <span [ngClass]="{
                'weak': passwordStrength === 'Fraca',
                'medium': passwordStrength === 'Média',
                'strong': passwordStrength === 'Forte'
            }">
                Força da senha: {{ passwordStrength }}
            </span>
        </div>
        <div *ngIf="passwordError" class="error-message">
            {{ passwordError }}
        </div>
        <button type="submit" [disabled]="passwordStrength !== 'Forte'">Cadastrar</button>
        <p *ngIf="existingUser" class="error-message">Usuário já existe!</p>
    </form>
</div>